input:not([type=checkbox]):not([type=submit]):not([type=file]){
    width: 220px;
    height: 60px;
    border: none;
    outline: none;
    font-weight: 700;
    padding-left: 20px
}

textarea{
    width: 480px;
    height: 100px;
    border: none;
    outline: none;
    font-weight: 700;
    padding: 10px
}

@media only screen and (max-width:600px) {
    textarea{
        width : 220px;
        height: 140px;
    }
}